.header{
    background-image: url('../download\ \(3\).jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    background-color: gray;
    background-blend-mode:darken;
    color: aliceblue;
    /* box-shadow: 10px 10px 10px 10px  rgba(238, 5, 5, 0.801); */

    /* box-shadow: inset 5em 1em gold; */
    box-shadow: 3px 3px red, -1em 0 0.4em olive;
}